@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

#Positioner1 {
  position: relative;
  display: block;
  top: 30%;
  text-align: center;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

.modal-content {
  background-color: black;
  position: relative;
  top: 30%;
  margin: 0 auto 0 auto;
  border: 1px solid white;
  width: 25%;
  height: 35%;
  border-radius: 5px;
  overflow: auto;
}

input[type=text], input[type=password] {
  position: relative;
  width: 50%;
  height: 7.5%;
  font-size: calc(0.5vw + 0.5vh);
}

label {
  font-size: calc(0.8vw + 0.8vh);
  color: white;
  font-family: 'Anonymous Pro';
}

.loginmodalclose {
  float:right;
  position: relative;
  top: 2%;
  right: 2%;
  color: white;
  font-size: calc(1.3vw + 1.3vh);
  font-family: 'Roboto',sans-serif;
}

#loginmodalsubmit {
  padding: 1% 1% 1% 1%;
  font-family: 'Anonymous Pro';
  position: absolute;
  top: 70%;
  left: 20%;
}

#divideline{
  width:0px;
  position: absolute;
  height: 15%;
  border: 1px white inset;
  top: 67.5%;
  left: 50%;
}

#gsignin {
  position: absolute;
  top: 67.5%;
  left: 55%;
}

.loginmodalclose:hover {
  animation: closebuttonzoom 1s;
}

@-webkit-keyframes closebuttonzoom {
  from {color:white}
  to {color:grey}
}

.animate {
  animation: animatezoom 1s;
}

@-webkit-keyframes animatezoom {
  from {transform: scale(0)}
  to{transform: scale(1)}
}

h1.title {
  font-family: 'Roboto', sans-serif;
  color: #cccccc;
  font-size: calc(1.85vw + 1.85vh);
  margin-bottom: 0;
  display:inline;
/*
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .12em;
  animation:
    typing 18s steps(70, end),
    blink-caret 2s step-end infinite;

do with js if possible
*/
}

h2 {
  font-family: 'Anonymous Pro';
  color: #a5a5a5;
  text-align: center;
}

h2.subtitle {
  font-size: calc(0.9vw + 0.9vh);
  margin-top: 0%;
}

h2.description {
  position: relative;
  display: block;
  border: solid black 1px;
  padding: 1% 1% 1% 1%;
  width:60%;
  height: auto;
  margin: 2.5% 20% 0% 20%;
  font-size: calc(0.7vw + 0.7vh);
}

h2.leftdescription {
  position:absolute;
  display: block;
  border: solid black 1px;
  padding: 1% 1% 1% 1%;
  width: 25%;
  margin: 2.5% 0% 0% 20%;
  height: 50%;
  font-size: calc(0.7vw + 0.7vh);
  overflow:hidden;
}

#rightdescription {
  position: absolute;
  display: block;
  border: solid black 1px;
  padding: 1% 1% 1% 1%;
  width: 25%;
  margin: 2.5% 20% 0% 55%;
  height: 50%;
  overflow: scroll;
}

p {

}

.ExHeader{
  float: left;
}

.ExTitle {
  text-align: center;
}

i {
  font-size: calc(1vw + 1vh);
}

span.titleanimation {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}
@keyframes blink-caret {
  from, to {border-color: transparent}
  50% { border-color: white}
}

button.btninit {
  border-radius: 10px;
  font-size: calc(0.8vw + 0.8vh);
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  color: grey;
  background: transparent;
  border: solid white 1px;
  position: relative;
  padding: 0.75vw 1.9vw 0.75vw 1.9vw;
  display: inline;
  outline:0;
}

.btninit:hover {
  background: white;
  color: black;
}

#buttons {
  text-align: center;
}

#expand {
  position: relative;
  width: calc(1vw + 1vh + 1vmin);
  height: calc(1vw + 1vh + 1vmin);
  display: block;
  margin: auto;
  animation:
    bounce 2s steps(30,end) infinite;
}

#Positioner2 {
  position: absolute;
  top: 95%;
  width: 100%;
}

@keyframes bounce {
  from, to {padding-top: 0px;}
  50% {padding-top: 8px;}
}

#MenuBar {
  position: fixed;
  width: 100%;
  height: 8%;
  z-index: 1;
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/dark-triangles.png') fixed repeat 0 0;
  -webkit-animation: slide 20s linear infinite;
}

#TopBox {
  position:relative;
  /*background-color: rgba(10,10,10,0.75);*/
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/dark-triangles.png') fixed repeat 0 0;
  width: 100%;
  top: 0px;
  height: 100%;
  -webkit-animation: slide 20s linear infinite;
  z-index: 2;
}

@-webkit-keyframes slide {
  from {background-position: 0 0; }
  to {background-position: 500px 0; }
}

#InfoBox {
  position:relative;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 0;
  overflow: scroll;
}

#AboutBox {
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/dark-triangles.png') fixed repeat 0 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 30%;
  z-index: 1;
}

#USERFRONTPAGE{
  height:0;
  overflow: hidden; 
}

body {
  margin: 0;
  overflow: auto;
  height: 100%;
  position: relative;
}

html {
  overflow: hidden;
  height: 100%;
}
